* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.container div {
    font-size: 24px;
    color: black;
}
.sidebar {
    background: linear-gradient(pink, white);
    grid-row: 1 / 3;
    display: grid;
    gap: 20px;
}

li {
    font-size: 18px;
    list-style: none;
    color: black;
}

li:hover {
    cursor: pointer;
    font-size: 20px;
}
.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.first-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.user-name {
    font-weight: bold;
    font-family: "oswald", sans-serif;
}


.second-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 3px;
}

.profile-name {
    font-family: "oswald", sans-serif;
    font-weight: 500;
}

.buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 40px;
}
.main-content{
    background-color: #f3f4f6;
    grid-column: 2 / 3;
    gap: 25px;
    border-top: 5px solid #f1efef;
}
.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    margin: 20px;
    
}
.card {
    border: 1px solid black;
    width: 100%;
    background-color: white;
    border: white;
    border-left: 8px solid rgba(255, 192, 203, 0.498);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card p {
    font-size: 18px;
    color: black;
    margin: 0px 20px 0px 20px;
    color: grey;
}

.title {
    font-size: 18px;
    color: black;
    margin: 20px 20px 0px 20px;
    font-family: "oswald", sans-serif;
}

.card-options {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    margin: 0;
    padding: 0;
}

.home,
.profile,
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy,
.logo,
.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.communities {
    margin-bottom: 50px;
}
.logo {
    margin: 10px 50px 30px 10px;
}

.icon {
    width: 20px;
    fill: white;
    margin: 10px 20px 10px 20px;
}

.star,
.eye,
.share-icon {
    width: 20px;
    fill: white;
    margin: 30px 20px 20px 0px;
}

.dashboard {
    width: 50px;
    margin-right: 10px;
}

.search-icon {
    width: 30px;
    margin: 10px 15px 0 10px;
}

.search-icon:hover {
    cursor: pointer;
}

#search-bar {
    width: 40vw;
    height: 30px;
    background-color: #f3f4f6;
    border: #f3f4f6;
    border-radius:14px;
}
.search {
    margin: 20px;
}

.lupin-small {
    width: 3vw;
    height: 5vh;
    border-radius: 50%;
    margin: 0 30px 0 10px;
}

.lupin-big {
    width: 70px;
    height: 60px;
    border-radius: 50%;
    margin: 0 15px 0 30px;

}
.greeting {
    font-size: 1vw;
    font-weight: 500;
}
button {
    margin: 10px;
    width: 6vw;
    height: 4vh;
    background: pink;
    border: pink;
    border-radius: 14px;
    font-size: 1vw;
    font-weight: 500;
    color: black;
    font-family: "oswald";
}

button:hover {
    cursor: pointer;
    background-color: rgb(227, 191, 197);
}

.yp {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 30px 300px 0px 20px;
    text-wrap: nowrap;

}

.share-icon {
    transform: rotate(270deg);
}

.right-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 25px;
    margin-top: 25px;
}

.announcements {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}

.rp1,
.rp2,
.rp3 {
    font-size: 12px;
    color: grey;
}

.rp1,
.rp2 {
    padding-bottom: 15px;
    border-bottom: 1px solid pink;
}



.right-title {
    font-size: 18px;
    margin-top: 15px;
    font-family: "oswald", sans-serif;
}

.ba {
    margin: 30px 120px 0px 400px;
    flex: none;
    font-size: 20px;
}

.main-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: none;
}

.trending-container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    align-items: center;
}

.trending-container h6 {
    font-size: 14px;
    font-family: "oswald", sans-serif;
}

.trending-container p {
    font-size: 14px;
    color: grey;
}

.lupin-middle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.trending-title {
    margin: 40px 0 10px 0;
    font-size: 22px;
}

.eye:hover {
    cursor: pointer;
}

.star:hover {
    cursor: pointer;
}

.share-icon:hover {
    cursor: pointer;
}

.right-title:hover {
    cursor: pointer;
}

.lupin-middle:hover {
    cursor: pointer;
}

.lupin-small:hover {
    cursor: pointer;
}

.icon:hover {
    cursor: pointer;
}

.user-name:hover {
    cursor: pointer;
}

.lupin-big:hover {
    cursor: pointer;
}

.title:hover {
    cursor: pointer;
}

